<div class="top-menu">
  
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  >

</div>

<!--
  This is what goes under the hood when using the * syntax.
  Angular will wrap the element in an ng-template where
  the structural directive applied.
  Here the as cannot be use, therefore we need to specify a
  template variable (course) which will have the value from
  the expression implicitly if we not assigning any value.
  This will be only visible inside the template.
-->

<!--
  Structural directives like ngIf are really nothing more
  than plain attribute directives that have the special
  ability of instantiating a template on to which they
  applied.
-->

<ng-template
  [ngIf]="courses[0]"
  let-course
>
  
  <div
    class="courses salmon-theme"
  >
    <course-card
      #highlighter="hl"
      (courseSelected)="onCourseSelected($event)"
      (toggleHighlight)="onToggle($event)"
      [course]="course"
      highlighted
    >
      
      <course-image
        *ngxUnless="!course.iconUrl"
        [src]="course.iconUrl"
      ></course-image>
      
      <!--      <ng-template [ngxUnless]="!course.iconUrl">-->
      <!--        -->
      <!--        <course-image [src]="course.iconUrl"></course-image>-->
      <!--        -->
      <!--      </ng-template>-->
      
      <div
        (dblclick)="highlighter.toggle()"
        class="course-description"
      >
        {{ course.longDescription }}
      </div>
    
    </course-card>
  
  </div>

</ng-template>


<div
  *ngIf="courses[0] as course"
  class="courses"
>
  <!--
   highlighted directive is an attribute directive
  The course-card is a host element for the directive
  
  To get the exported functions of the directive we
  should assign the shorthand to a template reference
  (#highlighter="hl")
  -->
  <course-card
    #highlighter="hl"
    (courseSelected)="onCourseSelected($event)"
    (toggleHighlight)="onToggle($event)"
    [course]="course"
    highlighted
  >
    
    <course-image [src]="course.iconUrl"></course-image>
    
    <!-- Here we can use the directives methods by getting a
          hold of the template reference we created
       -->
    <div
      (dblclick)="highlighter.toggle()"
      class="course-description"
    >
      {{ course.longDescription }}
    </div>
  
  </course-card>


</div>
